﻿@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("ToCount", "Home", FormMethod.Post))
{
    <input type="hidden" name="CountId" />
    <table>
        <tr>
            <td><p>Делимое</p></td>
            <td><input type="number" name="Dividend" /> </td>
            <td><label id="DividendEmpty"></label>@res</td>
            <td><label id="UnCorrectDividend"></label>@res</td>
        </tr>
        <tr>
            <td><p>Делитель</p></td>
            <td><input type="number" name="Divider" /> </td>
            <td><label id="DividerEmpty"></label>@res</td>
            <td><label id="UnCorrectDivider"></label>@res</td>
            <td><label id="DividerIsZero"></label>@res</td>
        </tr>
        <tr>
            <td><input type="submit" value="Результат" /> </td>
            <td><label id="result"></label>@res</td>
        </tr>
        <tr>
            <td><label id="ErrorDividend"></label>@res</td>
            <td><label id="ErrorDivider"></label>@res</td>
        </tr>
    </table>
}
