﻿@{
    ViewBag.Title = "Index";
}

@*@using (Ajax.BeginForm("BookSearch", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="loading" style="display:none; color:Red; font-weight:bold;">
        <p>Идет загрузка...</p>
    </div>
    <div id="results"></div>*@



@*@using (Ajax.BeginForm("BookSearch", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <img id="loading" src="@Url.Content("~/Content/Images/spinning-loading-bar.gif")" style="display:none" />
    <div id="results"></div>*@
<h3>AJAX</h3>
@using (Ajax.BeginForm("BookSearch", new AjaxOptions
{
    UpdateTargetId = "results",
    OnBegin = "OnBegin",
    OnFailure = "OnFailure",
    OnSuccess = "OnSuccess1",
    OnComplete = "OnComplete"
}))
{
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
}

<div id="ajax_results1"></div>

@*@using (Ajax.BeginForm("BookSearch", new AjaxOptions { OnSuccess = "OnSuccess" }))
    {
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
    }*@

@*<div id="ajax_results2"></div>*@
<h3>Лучшая книга</h3>
<div id="bestbook">
    @Ajax.ActionLink("Лучшая книга", "BestBook",
                    new AjaxOptions { UpdateTargetId = "bestbook" })
</div>

<h3>JSON</h3>
@using (Ajax.BeginForm("JsonSearch", new AjaxOptions { OnSuccess = "OnSuccess" }))
{
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
}
<br />
<div id="json_results"></div>


<h3>Ajax-Jquery</h3>
<input type="text" name="name" id="search" />
<input type='button' id="submit" value='Поиск' />
<div id="results"></div>
@section script{
    <script type="text/javascript">
$(document).ready(function () {
    $('#submit').click(function (e) {
        e.preventDefault();//Отменяем стандартное действие- перезагрузку страницы
        var name = $('#search').val();
        name = encodeURIComponent(name);//Декодирует и убирает недопустимые символы
        $('#results').load('@Url.Action("BookSearch", "Home")?name=' + name)
    });
});
    </script>
}
@*@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/MyScript/JavaScript1.js")*@





@*@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")*@
