﻿@model List<MyWebMVC3.Models.Part>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>Название товара</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model)
            {
            <tr>
                <td> @part.Name </td>
                <td> @part.Descriprion </td>
                <td> @part.Price </td>
                <td> @part.Quantity </td>
                <td> @Html.ActionLink("Ред.", "Edit", new { part = part, Controller = "Home" })</td>
                <td> @Html.ActionLink("Удалить", "Delete", new { Id = part.PartId, Controller = "Home" })</td>
            </tr>
            }
        <tr>
            <td>@Html.ActionLink("Добавить товар", "Create", new { Controller = "Home" })</td>
        </tr>
        </tbody>
    </table>
</div>
